th {
  border: 2px solid #333;
}
td {
  border: 1px solid #333;
}
button {
  margin: 5px;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav ul li a {
  cursor: pointer;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
  color: rgb(97, 55, 14);
}

nav ul li a.active {
  color: green;
  text-decoration: underline;
}
